.App {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    /* position: fixed; */
    overflow-x: hidden;
    font-family: Raleway;
}